# arquivo de configuracao SO
.DS_Store

# screamshots e videos
semana-agilizei/cypress/screenshots/
semana-agilizei/cypress/videos/

# relatorios mocha
semana-agilizei/mochawersome-reports

# relatorios cucumber
semana-agilizei/cypress/reports/index.html
semana-agilizei/cypress/reports/index.html.json
semana-agilizei/cypress/reports/cucumber-json/**

# arquivos de dependencias do projeto
semana-agilizei/node_modules/
