# arquivo de configuracao SO
.DS_Store

# screamshots e videos
cypress/screenshots/
cypress/videos/

# relatorios mocha
mochawesome-report

# relatorios cucumber
cypress/reports/index.html
cypress/reports/index.html.json
cypress/reports/cucumber-json/**

# arquivos de dependencias do projeto
node_modules
package-lock.json
